label {
  font-family: lexend-deca, comic-sans;
}

.color_background {
  background-image: url('./color_background.png');
}

.main_layout_box {
  background-position: bottom center;
}

.header_bar {
  /*background-position: top center;*/
  background-position: top left;
  filter: brightness(0.9);
}

.window-title {
  font-weight: bold;
}

.controls_view_box {
  background: #0000001f;
}
.bottom_box {
  background-position: bottom center;
  filter: brightness(0.9);
}

frame {
  border-radius: 4px;
  border: none;
}

.frame {
  border-radius: 4px;
  border: none;
}

.speed-box {
  border: 1px solid white;
  margin: 10px;
  border-radius: 8px;
}

.speed-label {
  font-weight: bold;
}

.speed-button {
  margin: 0;
}

.speed-button-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.speed-button-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.drop_shadow {
  box-shadow: 2px 2px 10px #00000027;
}
.album_art_frame {
  border: none;
  border-radius: 8px;
}
.controls_play {
  border: solid white 1px;
  border-radius: 50%;
}
.controls_next {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 50%;
}
.controls_prev {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 50%;
}

list {
  background: #0000003f;
}

list > *:hover {
  background: #ffffff3f;
}


